// блок приемуществ после шапки
.advantages {
	padding: 72px 0 57px 0;
	position: relative;
	&:before {
		content: '';
		background: url(../img/advantages_bg.png) 0 0 no-repeat;
		@include position(absolute, 0 0 null 0);
		width: 1225px;
		margin: 0 auto;
		height: 310px;
		text-align: center;
	}
	&__img {
		display: block;
		margin-bottom: 27px;
	}
	&__title {
		font-size: 25px;
		font-weight: bold;
		color: $bordo;
		margin: 0 0 6px 0;
		line-height: normal;
	}
	&__text {
		font-size: 15px;
		line-height: normal;
		color: #3d3f48;
		margin: 0 0 30px 0;
		line-height: 22px;

	}
}
// блок с калькулятором на главной
.calculation {
	// шаги калькулятора
	padding: 51px 0;
	background: #FBFBFB url(../img/calc-bg.png);
	&__steps {
		position: relative;
		z-index: 2;
		&-section {
			@include display(flex);
			@include justify-content(center);
			position: relative;
			z-index: 10;
		}
		&-block {
			&:not(:last-child) {
				padding-right: 88px;
				position: relative;
				&:before {
					content: '';
					background: url(../img/steps-arrow.png) 0 0 no-repeat;
					@include position(absolute, null 16px 17px null);
					width: 57px;
					height: 11px;
				}
			}
		}
		&-text {
			font-size: 18px;
			font-family: 'Flow';
			margin: 0 0 -4px;
			color: #9d9d9c;
			&.done {
				color: green;
			}
		}
		&-img {
			display: inline-block;
			margin: -3px 0 0 10px;
			opacity: 0;
			vertical-align: top;
			@include transition(all 0.4s ease-in-out);
			&.done {
				opacity: 1;
			}
		}
		&-btn {
			padding: 0;
			border: none;
			background: none;
			text-transform: uppercase;
			color: #c1c1c1;
			font-size: 26px;
			font-family: 'Fira Sans';
			font-weight: 500;
			@include transition(all 0.4s ease-in-out);
			&:hover,
			&.active {
				color: $bordo;
			}
			&.active{
				cursor: default;
			}
			&.done {
				color: #3E4049;
				&[disabled] {
					color: #3E4049;
				}
			}
			&[disabled] {
				color: #c1c1c1;
			}
		}
	}
	// фильтр дверей
	&__filter {
		margin: 41px -60px 0 0;
		position: relative;
		z-index: 2;
		&-block {
			margin-top: -8px;
			position: relative;
			opacity: 1;
			left: 0;
			@include transition(all 0.4s ease-in-out);
			&.slideOut {
				left: -100%;
				opacity: 0;
			}
		}
		&-title {
			color: #3d3f48;
			font-size: 20px;
			padding: 0 0 2px 43px;
			font-family: 'Etelka';
			font-weight: 300;
			margin: 0 0 15px 0;
			background: url(../img/filter-sprite.png) no-repeat;
			&._doors-bg {
				background-position: 6px 3px;
			}
			&._width-bg {
				background-position: 6px -94px;
			}
			&._depth-bg {
				background-position: 6px -44px;
			}
			&._height-bg {
				background-position: 6px -140px;
			}
			&._material-bg {
				background-position: 6px -180px;
			}
		}
		&-radio {
			display: none;
			&:checked + .calculation__filter-label {
				color: #3d3f48;
				background: #c6c2c1;
				-moz-box-shadow: 0 1px 0 rgba(255,255,255,.3), inset 0 1px 4px rgba(0,0,0,.4);
				-webkit-box-shadow: 0 1px 0 rgba(255,255,255,.3), inset 0 1px 4px rgba(0,0,0,.4);
				box-shadow: 0 1px 0 rgba(255,255,255,.3), inset 0 1px 4px rgba(0,0,0,.4);
				border: 1px solid transparent;
			}
			&-wrapper {
				display: inline-block;
				padding: 9px 9px 9px 14px;
				background: rgba(221,221,221,0.5);
				border-radius: 6px;
			}
			&-block {
				margin-bottom: 30px;
			}
		}
		&-label {
			height: 51px;
			line-height: 55px;
			width: 52px;
			text-align: center;
			display: inline-block;
			color: $bordo;
			font-family: 'Flow';
			font-size: 22px;
			cursor: pointer;
			margin-left: -5px;
			border: 1px solid #ccc9c7;
			@include gray-bg();
			&:nth-child(2) {
				border-radius: 4px 0 0 4px;
			}
			&:last-child {
				border-radius: 0 4px 4px 0;
			}
		}
		&-range {
			&-wrapper {
				padding: 1px 35px;
				margin: 22px 0 64px 0;
				background-color: #e1dddb;
				-moz-box-shadow: 0 1px 0 rgba(255,255,255,.3), inset 0 1px 2px rgba(0,0,0,.15);
				-webkit-box-shadow: 0 1px 0 rgba(255,255,255,.3), inset 0 1px 2px rgba(0,0,0,.15);
				box-shadow: 0 1px 0 rgba(255,255,255,.3), inset 0 1px 2px rgba(0,0,0,.15);
				border-radius: 40px;
			}
			&.ui-slider {
				margin-bottom: 17px;
				margin-top: 19px;
				height: 6px;
				background-color: #c2c2c2;
				-moz-box-shadow: 0 1px 0 rgba(255,255,255,.3), inset 0 1px 2px rgba(0,0,0,.15);
				-webkit-box-shadow: 0 1px 0 rgba(255,255,255,.3), inset 0 1px 2px rgba(0,0,0,.15);
				box-shadow: 0 1px 0 rgba(255,255,255,.3), inset 0 1px 2px rgba(0,0,0,.15);
				border: none;
				border-radius: 0;
				.ui-slider-handle {
					background: url(../img/range-handled.png) 0 0 no-repeat;
					border: none;
					width: 41px;
					height: 41px;
					cursor: pointer;
					margin-left: -21px;
					outline: none;
				}
				.ui-slider-pip {
					top: -3px;
					&.ui-slider-pip-inrange .ui-slider-line {
						background: $bordo;
					}
					.ui-slider-line {
						background-color: #c2c2c2;
						-moz-box-shadow: 0 1px 0 rgba(255,255,255,0.3),inset 0 1px 2px rgba(0,0,0,0.15);
						-webkit-box-shadow: 0 1px 0 rgba(255,255,255,0.3),inset 0 1px 2px rgba(0,0,0,0.15);
						box-shadow: 0 1px 0 rgba(255,255,255,0.3),inset 0 1px 2px rgba(0,0,0,0.15);
						width: 12px;
						height: 12px;
						margin-left: -6px;
						border-radius: 100%;
						transition: all 0.4s ease;
					}
					.ui-slider-label,
					.ui-slider-label i,
					.ui-slider-label span {
						width: 100px;
						margin-left: -50px;
						text-align: center;
					}
					.ui-slider-label {
						color: #3d3f48;
						font-size: 16px;
						font-family: 'Flow';
						font-weight: bold;
						outline: none;
						position: relative;
						z-index: -2;
						i {
							font-style: normal;
							font-size: 1.8em;
							position: absolute;
						    top: -36px;
						}
						span {
							position: absolute;
							top: 18px;
						}
					}
				}
			}
		}
		&-btn {
			padding: 13px 45px;
		}
		&-select {
			display: none;
			width: 100%;
			margin-bottom: 20px;
			&-block {
				margin-bottom: 50px;
			}
		}
	}
	&__img {
		display: inline-block;
		position: relative;
		&[next-img] {
			@include position(relative, 0 null null 0);
			opacity: 0;
			&.change {
				-webkit-animation: fadeIn 0.4s ease;
				animation: fadeIn 0.4s ease;
			}
		}
		&[current-img] {
			@include position(absolute, 0 0 null 0);
			margin: 0 auto;
			&.change {
				-webkit-animation: fadeOut 0.4s ease;
				animation: fadeOut 0.4s ease;
			}
		}
		// блок с картинками шкафа
		&-holder {
			text-align: center;
			position: relative;
			left: 255px;
			top: -20px;
			margin-left: -350px;
		}
	}
	&__material-holder {
		@include position(absolute, 0 null null 0);
		width: 100%;
		height: 100%;
		&-img {
			@include position(absolute, null null null 0);
			@include transition(all 0.4s ease-in-out);
			&:nth-child(odd) {
				top: 0;
				&.change {
					-webkit-animation: center-top-center 0.4s ease;
					animation: center-top-center 0.4s ease;
				}
			}
			&:nth-child(even) {
				bottom: 0;
				&.change { 
					-webkit-animation: center-bottom-center 0.4s ease;
					animation: center-bottom-center 0.4s ease;
				}
			}
			&.fadeOut {
				opacity: 0;
			}
		}
	}
}
// отзывы
.feedback {
	&__btn {
		font-size: 20px;
		padding: 19px 42px;
	}
}
// блок с фактами
.fact {
	padding: 106px 0 60px 0;
	position: relative;
	&:before {
		content: '';
		background: url(../img/fact_bg.png) 0 0 no-repeat;
		@include position(absolute, null 0 0 0);
		width: 1382px;
		height: 556px;
		margin: 0 auto;
		z-index: -1;
	}
	&__title {
		font-size: 35px;
		margin: 0 0 -10px 50px;
		line-height: normal;
		color: $bordo;
		font-weight: 300;
	}
	&__block {
		border: 1px dashed $bordo;
		border-radius: 40px;
		padding: 24px 46px 30px 46px;
		position: relative;
		min-height: 203px;
		margin-bottom: 18px;
		position: relative;
		&:before {
			content: '';
			background: url(../img/question.png) 0 0 no-repeat;
			@include position(absolute, -134px null null -166px);
			width: 71px;
			height: 309px;
		}
	}
	&__text {
		color: #3d3f48;
		margin: 0 -10px 0 0;
		font-size: 24px;
		vertical-align: top;
		line-height: 36px;
		display: none;
	}
	&__extra-text {
		color: #3d3f48;
	    margin: -3px -30px 0 0;
	    vertical-align: top;
	    font-size: 20px;
	    line-height: 30px;
	    display: none;
	}
	&__img {
		display: block;
		margin: -75px 0 -1px 5px;
		@include position(absolute, null null 0 null);
	}
	&__changer {
		display: inline-block;
		color: #000;
		font-size: 18px;
		line-height: 20px;
		border-bottom: 1px dotted;
		position: relative;
		font-weight: 300;
		margin: 0 100px 0 0;
		&:before {
			content: '';
			background: url(../img/spinner.png) 0 0 no-repeat;
			@include position(absolute, -4px null null -52px);
			width: 35px;
			height: 27px;
			@include transition(2s 0.4s ease-in-out);
		}
		&:active,
		&:focus,
		&:hover {
			color: #000;
			border-bottom: 1px dotted transparent;
			text-decoration: none;
		}
		&:hover {
			&:before {
				-webkit-animation: spinner 2.3s linear infinite;
				animation: spinner 2.3s linear infinite;
			}
		}
	}
}
// дополнительные приемущества
.extra-advantages {
	background: #f7f6f5;
	padding: 29px 0 63px 0;
	&__title {
		margin: 0 0 44px 0;
	}
	&__block {
		@include clearfix;
		margin: 0 -30px 66px 0;
		&-img {
			display: block;
			margin: 8px 0 0 0;
		}
		&-title {
			font-size: 24px;
			color: #000;
			margin: 0 0 4px -27px;
			font-weight: 400;
		}
		&-text {
			color: #555;
			font-size: 16px;
			margin: 0 27px 0 -27px;
		}
	}
	&__btn {
		font-size: 20px;
		padding: 19px 42px;
	}
}
// блок с картой 
.map {
	padding: 28px 0;
	&__title {
		margin: 0 0 25px 0;
	}
	&__block {
		width: 100%;
		margin: 0 auto;
		padding: 6px;
		box-shadow: 0 2px 4px rgba(0,0,0,.35);
		height: 352px;
		background-color: #fff;
		@include background-image(linear-gradient(120deg, #fff 0%, #ddd 100%));

		&-inner {
			width: 100%;
			height: 100%;
			border: 1px dashed #b1b0b0;
		}
	}
}
#map {
	width: 100%;
	height: 100%;
}