@media (max-width: 767px) {
	.btn {
		&:hover,
		&:active {
			border-bottom: 7px solid #7a0728;
			top: 0;
		}
	}
	.header {
		&__section {
			padding-bottom: 70px;
		}
	}
	.advantages {
		&__block {
			text-align: center;
		}
		&__img {
			margin: 0 auto 27px auto;
		}
	}
	.fact {
		&__text {
			margin: 0 0 30px 0;
		}
	}
	.extra-advantages {
		&__block {
			margin: 0 0 25px 0;
			text-align: center;
			&-title {
				margin: 0 0 4px 0;
			}
			&-text {
				margin: 0;
			}
			&-img {
				display: block;
				margin: 8px auto 0 auto;
			}
		}
		&__btn {
			margin-top: 20px;
			display: inline-block;
		}
	}
	.footer {
		&__block {
			text-align: center;
			&._email-margin,
			&._phone-margin {
				margin: 0 0 20px 0;
			}
		}
		&__img {
			display: block;
			margin: auto;
		}
		&__email {
			margin: 0;
		}
		&__btn {
			margin: 0;
		}
		&__phone {
			&-prefix {
				display: inline-block;
				vertical-align: top;
				margin: 6px 10px 0 0;
			}
		}
		&__text {
			margin: 0;
		}
	}
	.modal {
		&__text-holder {
			margin-top: 33px;
		}
	}
	.calculation {
		&__steps {
			&-section {
				@include flex-direction(column);
				text-align: center;
			}
			&-block {
				margin-bottom: 10px;
				padding-right: 0!important;
				&:before {
					display: none;
				}
			}
		}
		&__filter {
			margin: 41px 0 0 0;
		}
		&__material-holder-img,
		&__img {
			max-width: 70%;
			&[current-img] {
				margin: 0;
			}
		}
		&__img-holder {
			top: 0;
			left: 290px;
		}
	}
}
@media (max-width: 540px) {
	.btn {
		font-size: 16px;
	}
	.title {
		font-size: 24px;
	}
	.header {
		&__phone {
			font-size: 32px;
			&-prefix {
				font-size: 16px;
			}
		}
		&__description {
			&-title {
				line-height: normal;
				font-size: 34px;
			}
			&-text {
				margin: 0 0 45px 0px;
			}
			&-btn {
				margin: 0;
			}
		}
		&__phone {
			margin-bottom: 22px;
		}
	}
	.fact {
		&__text {
			font-size: 20px;
			line-height: 26px;
		}
		&__extra-text {
			font-size: 16px;
			line-height: 20px;
			margin: 0;
		}
		&__changer {
			margin: 0 40px 0 0;
		}
		&__title {
			font-size: 24px;
			margin: 0 0 -7px 20px;
		}
		&__block {
			padding: 24px 20px 30px 20px;
		}
	}
	.modal {
		padding: 31px 10px;
		&__title {
			margin: 0 0 15px;
		    font-size: 25px;
		}
		&__close {
			top: 10px;
			right: 10px;
		}
		&__text-holder {
			display: none;
		}
	}
}
@media (min-width: 768px) and (max-width: 991px) {
	.footer {
		&__block {
			&._email-margin {
				margin: 0;
			}		
		}
		&__text {
			margin: 0px -60px 0 -17px;
		}
		&__btn {
			font-size: 14px;
			padding: 15px 25px;
		}
	}
	.calculation {
		&__filter-btn {
			font-size: 18px;
		}
	}
	.modal {
		padding: 31px 24px 20px 24px;
	}
}
@media (min-width: 992px) and (max-width: 1199px) {
	.fact {
		&__img {
			margin: -75px 0 -1px -18px;
		}
	}
	.calculation {
		&__filter-btn {
			font-size: 18px;
		}
	}
}