header.header
	.container
		.header__section
			.row
				.col-sm-12
					// телефон
					a.header__phone(href="tel:+78126434407") 
						span.header__phone-prefix +7 812
						| 643-44-07
					// конец телефон
					p.header__time с 9<sup> 00</sup> до 22<sup> 00</sup>, без выходных
			.row
				.col-sm-10.col-md-7
					// блок с текстом
					.header__description
						p.header__description-title Шкафинатор сделает вам шкаф-купе.
						p.header__description-text Мы делаем лучшие шкафы в <img src="img/star.png", alt="star"> Москве и области по самым приемлимым ценам. Мы словно прибыли из будущего для борьбы с некачественными производителями шкафов-купе. Наши сотрудники обладают железными нервами (и не только).
						a.btn.header__description-btn(href="#calculation" anchor-trigger) рассчитать стоимость
					// конец блока с текстом
				.col-sm-2.col-md-5.hidden-xs
					// блок с картинкой
					.header__img-block
						img.header__img(src="img/header-shkafinator.png", alt="shkafinator")
					// конец блока с картинкой
