.modal#order
	.modal__close
	form(action="#order")
		.col-sm-4
			p.modal__title Заказать шкаф
			input.modal__input(type="text" placeholder="Ваше имя")
			input.modal__input(type="text" mask placeholder="Ваше имя")
			button.btn.modal__submit(type="submit") Заказать сейчас
		.col-sm-3
			img.modal__img(src="img/modal-shkafinator.png", alt="modal-shkafinator")
		.col-sm-5
			.modal__text-holder
				p.modal__text Вы всего в минуте от того, чтобы заказать замечательный шкаф, который прослужит вам долгие годы.
				p.modal__text Заполните форму и мы перезвоним вам в кратчайшие сроки.