.modal#order
	.modal__close
	form(action="#order")
		.col-md-4.col-sm-6
			p.modal__title Заказать шкаф
			input.modal__input(type="text" required placeholder="Ваше имя")
			input.modal__input(type="text" mask required placeholder="Ваш телефон")
			button.btn.modal__submit(type="submit") Заказать сейчас
		.col-md-3.hidden-sm.hidden-xs
			img.modal__img(src="img/modal-shkafinator.png", alt="modal-shkafinator")
		.col-md-5.col-sm-6
			.modal__text-holder
				p.modal__text Вы всего в минуте от того, чтобы заказать замечательный шкаф, который прослужит вам долгие годы.
				p.modal__text Заполните форму и мы перезвоним вам в кратчайшие сроки.